.textcenter
	text-align center

.center
	margin 0 auto
	
.wrong
	color: #F00 !important;
	
.inline-block
	display: inline-block
	
.full
	width: 100%
	
.container
	position relative
	min-height 100%
	
.link
	color: #179CDE;
	text-decoration: none;


		
.body
	padding: 10px 0px 60px;	   /* Height of the footer */
	
.title
	font-family: Roboto;
	font-size: 24px;
	font-weight: 100;

.bold
	font-weight 700
.thick
	font-weight 500

.blue
	color #179cde
	text-decoration none

for n in 5 10 15 20 25 30 50
	.padding-{n}
		padding: (n)px
