meta(charset='utf-8')
title GHS GenYes Program - #{currentPage}
meta(name='robots', content='all')
meta(name='description', content='The Glendale High School Official GenYes Site')
meta(name='keywords', content='glendale, school, glendale high school, genyes, techyes')
link(rel='stylesheet', type='text/css', href='css/main.css')
link( rel="shortcut icon" type="image/png" href='/images/G.png')
link(href='http://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')
//-link(href='http://fonts.googleapis.com/css?family=Ubuntu:400,300', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Arvo', rel='stylesheet', type='text/css')
meta(name='viewport', content='width=device-width, initial-scale=1')
script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(type='text/javascript', src='js/js.js')
