doctype html
html(lang='en')
	head
		include ./includes/head.pug
	body
		.container
			include ./includes/header.pug
			.body
				div
					span This is a 404 - YOU MAY LEAVE

			include ./includes/footer.pug