doctype html
html(lang='en')
	head
		include ./includes/head.jade
	body
		.container
			include ./includes/header.jade
			.body
				div.title.textcenter GHS Teacher Facilitators
				.contacts
					.contact
						.name Tom Walley
						a(href='mailto: twalley@gusd.net').email twalley@gusd.net
						.phone 818-242-3161 x
					div.contact
						.name Adriana Yugovich
						a(href='mailto: ayugovich@gusd.net').email ayugovich@gusd.net
						.phone 818-242-3161 x.7107
				div.title.textcenter GenYes can’t solve it? Submit a work order for ETIS: 
					a(href='http://etis.gusd.net').blue.thick etis.gusd.net
				.padding-15
				div.title.textcenter Education Technology & Information Services (ETIS)
				.padding-5
				.contacts
					div.textcenter.altcontact
						div.link
							a.blue.bold(href="http://www.gusd.net/site/Default.aspx?PageID=193") www.gusd.net/site/Default.aspx?PageID=193
						div.phone 818-242-3161 x.577
					div.textcenter.altcontact
						div.name Frank Schlueter, Director
						div.email
							a(href='mailto:fschlueter@gusd.net').blue.bold fschlueter@gusd.net
					div.textcenter.altcontact
						div.name Valerie Mitchell, Assistant Director
						div.email
							a(href='mailto:vmitchell@gusd.net').blue.bold vmitchell@gusd.net
					div.textcenter.altcontact
						div.name Kris Kohlmeier, Teacher Specialist
						div.email
							a(href='mailto:kkohlmeier@gusd.net').blue.bold kkohlmeier@gusd.net
					div.textcenter.altcontact
						div.name Peter Richter, Customer Support Technician
						div.email
							a(href='mailto:prichter@gusd.net').blue.bold prichter@gusd.net
										
			include ./includes/footer.jade