doctype html
html(lang='en')
	head
		include ./includes/head.jade
	body
		.container
			include ./includes/header.jade
			.body
				div.title.textcenter Meet our Student Technology Leaders
				div.people
					div.person
						.personimg(style='background-image: url("images/people/robert.jpg"); background-position: -39px -7px; background-size: 160% auto;') 
						.persontitle Robert Grigoryan: Team Leader
						p.persondesc
							| I do both hardware and software, but i am more experienced in hardware. I love hands- on experiments and am fast on my feet. I am a critical thinker and usually supervise every job. I can explain to others what we as GenYes do best.
					div.person
						.personimg(style='background-image: url("images/people/ashot.jpg"); background-size: 140% auto; background-position: -22px -7px;')
						.persontitle Ashot Nazaryan: Software
						p.persondesc
							| Coding for me is very enjoyable and I have skills in software and development. I for the most part made this website from scratch and would like to pursue coding as a career after high school. If you think you need help with anything software related, you should ask for me.
					div.person
						.personimg(style='background-image: url("images/people/mahar.jpg"); background-size: 150% auto;background-position: -25px 0px;')
						.persontitle Mahar Tamim: Hardware
						p.persondesc
							| Hardware—the physical parts of a machine— is my area of expertise. I am very hands-on and proficient with technology in general, whether it be setting up a server or helping you fix a printer. Talk to me if you need any help with jobs that you think require more technical expertise.
				.padding-15
				div.title.textcenter Meet our Teacher Facilitators
				div.people
					div.person
						.personimg(style='background-image: url("images/people/walley.jpg"); background-size: 140% auto; background-position: -26px -18px;') 
						.persontitle Mr. Tom Walley
						p.persondesc
							| Mr. Walley teaches the class of 25 GenYes students training to be the new student technology leaders here at Glendale High School. He also teaches World History and and is the school’s tech coordinator.
					div.person
						.personimg(style='background-image: url("images/people/yugovich.jpg");background-size: 120% auto;background-position: -15px 0;') 
						.persontitle Ms. Adriana Yugovich
						p.persondesc
							| Ms. Yugovich teaches Commercial Multimedia and Animation in the Mac Lab here at Glendale High School. She is the director of Nitro Graphics, the advisor for the Digital Gaming Club and has been a Mac user since 1995.
						
			include ./includes/footer.jade