doctype html
html(lang='en')
	head
		include ./includes/head.jade
	body
		.container
			include ./includes/header.jade
			.body
				.videos
					.video
						.title How To Create A Group Email
						.frame 
							iframe(width="560" height="315" src="https://www.youtube.com/embed/2C5Qc7Rf5cA" frameborder="0" allowfullscreen)
					.video
							.title Common Cords and Cables
							.frame 
								iframe(width="560" height="315" src="https://www.youtube.com/embed/XxjRQnRRbFA" frameborder="0" allowfullscreen)

				
				br
				span More Coming Soon

			include ./includes/footer.jade