doctype html
html(lang='en')
	head
		include ./includes/head.jade
	body
		.container
			include ./includes/header.jade
			.body
				span Mahars current lame tutorials will devalue my site, so no

			include ./includes/footer.jade