.contacts
	text-align center
	.contact
		font-size: 16px;
		font-family: Roboto;
		display: inline-block;
		text-align: center;
		margin: 20px 100px;
		.name
			font-weight bold
			font-family Roboto
		.email
			color #04AEEF
			text-decoration none
		.phone
			color black
	.altcontact
		padding 10px