@import 'includes/reset.styl'
@import 'elements/header-footer.styl'
@import 'includes/classes.styl'
@import 'elements/flag.styl'
@import 'elements/imageslidythingy.styl'
@import 'elements/genyes.styl'
@import 'elements/techteam.styl'
@import 'elements/contact.styl'
@import 'elements/forteachers.styl'
//DONE